.u-section-1 .u-sheet-1 {
  min-height: 903px;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 624px;
  margin: 15px -260px 0 260px;
}

.u-section-1 .u-custom-html-2 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-1 .u-custom-html-3 {
  margin-top: 144px;
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    margin-right: 0;
    margin-left: 0;
  }
}